.btn-ver-mais{
      color: #ED7839;
      font-size: 14px;
      background-color: #FFFFFF;
      font-weight: 600;
      border: none;
      cursor: pointer;
      position: relative;
      left: 170px;
      top: -34px;
    }
    